body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 20px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

textarea {
    height: 150px;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    resize: vertical;
    border: 1px solid #ccc;
    border-radius: 5px;
    unicode-bidi: plaintext;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px auto;
    display: block;
}

button:hover {
    background-color: #45a049;
}

.colorPicker input[type="color"] {
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
}

.colorPicker input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

.colorPicker input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

canvas {
    display: block;
    margin: 20px auto;
    border: 1px solid #000;
    border-radius: 5px;
}

.colorPicker {
    display: inline-block;
    margin: 10px;
}

.credits {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
    text-align: center;
}

.credits p {
    margin: 0 5px;
    display: inline-block;
}